.login-container{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.login-container .login-center{
    margin-top: -50px !important;
}

.login{
    width: 800px;
    height: 550px;
}

.login-box-body{
    border-radius: 8px !important;
    padding: 36px !important;
}

.text-white{
    color: #eaeaea !important;
}