.login-container{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.login-container .login-box{
    margin-top: -100px !important;
}

.login-box-body{
    border-radius: 8px !important;
    padding: 36px !important;
}

.text-white{
    color: #eaeaea !important;
}