@import '../../../node_modules/placeholder-loading/src/scss/variables';

$ph-bg: #222D32;
$ph-gutter: 15px;

@import '../../../node_modules/placeholder-loading/src/scss/placeholder-loading.scss';

.ph-item.profile-item{
    margin: 0px;
    border: none;
    position: relative;
    width: 100%;
    padding: 10px;
    overflow: hidden;

    .ph-col-2{
        padding-left: 0px;
    }
    
    .ph-col-2 div.ph-avatar{
        width: 100%;
        width: 45px;
        min-width: unset;
    }
    
    .ph-avatar{
        margin: 0px;
    }

    .profile-item_data{
        margin-top: 5px;
        margin-bottom: 0px;

        .ph-col-12{
            height: 13px;
        }

        .ph-col-10{
            height: 10px;
        }

        .profile-item_data-item{
            border-radius: 2px;
        }
    }
}